body {
  font-family: sans-serif;
  line-height: 1.4;
  font-weight: bold;
}

/* PRODUCT */
.product {
  border: 4px solid black;
}

.product-title {
  text-align: center;
  font-size: 22px;
  background-color: #f7f7f7;
  text-transform: uppercase;
}

/* PRODUCT INFORMATION */
.product-img {
  width: 200px;
  height: 200px;
}

.price {
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  color: #777;
  text-transform: uppercase;
}

/* Styling Links */
.more-info:link {
  color: #777;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* PRODUCT DETAILS */
.details-title {
  text-transform: uppercase;
  font-size: 16px;
}

.details-list {
  list-style: square;
}

/* BUTTON */
.add-cart {
  font-size: 20px;
  border: none;
  text-transform: uppercase;
  color: #f7f7f7;
  background-color: black;
  cursor: pointer;
}

.add-cart:hover {
  background-color: #f7f7f7;
  color: black;
}
