* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  position: relative;
}

.containar {
  width: 950px;
  height: auto;
  border: 4px solid black;
  margin: 20px auto;
}

.related-1 {
  position: relative;
}

.title-1 {
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 10px;
}

.sale {
  background-color: red;
  color: #fff;
  width: 75px;
  height: 30.5px;
  font-size: 17px;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  position: absolute;
  top: -90px;
  left: -40px;
  border-radius: 4px;
  text-shadow: -2px 2px 4px #606060;
}

.related-2,
.related-4 {
  margin-bottom: 20px;
}

.list li {
  margin-left: 20px;
  list-style: disc;
}

.price {
  font-weight: bold;
  font-size: 30px;
}

.free {
  text-transform: uppercase;
  color: #444;
  font-size: 12px;
  font-weight: bold;
}

.more-info:active,
.more-info:hover {
  text-decoration: none;
}

.more-info:link,
.more-info:visited {
  color: #444;
}

.title-2 {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}

.related-3 {
  margin-bottom: 30px;
}

.product-empty-box {
  margin-bottom: 15px;
  display: flex;
}

.black-1 {
  background-color: #000;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.blue-2 {
  background-color: #0073ff;
}

.red-3 {
  background-color: #f72424;
}

.yellow-4 {
  background-color: yellow;
}

.green-5 {
  background-color: green;
}

.brown-6 {
  background-color: burlywood;
}

.add-to-cart {
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-top: 4px solid black;
  cursor: pointer;
  padding: 8px;
  font-size: 20px;
  width: 100%;
}

.add-to-cart:hover {
  color: #000;
  background-color: #fff;
}

.image {
  float: left;
  margin-right: 30px;
}

.prouduct-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 243px;
  margin: 20px;
}

.related-4 {
  display: flex;
  justify-content: end;
  width: 243px;
  flex-direction: column;
}
