* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  position: relative;
}
body button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 20px;
}
body button:hover {
  color: red;
  border: none;
}
.container {
  width: 80%;
  margin: 0 auto;
}
h1,
h2,
h3 {
  color: #1098ad;
}
.main-header {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 20px;
}
nav {
  text-align: center;
}
nav a {
  margin-right: 10px;
}
nav a:last-child {
  margin-right: 0;
}
.post-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
h1 {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
}
h2 {
  font-size: 30px;
  /* background-color: orangered; */
  position: relative;
}
/* pesudo elements */
h2::after {
  content: "Top";
  background-color: yellow;
  position: absolute;
  top: -10px;
  right: -15px;
  padding: 4px;
}

h3 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}
ul,
ol {
  margin-left: 30px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}
li:first-child {
  color: green;
}
li:last-child {
  font-weight: bold;
  margin-bottom: 0;
}
li:nth-child(2) {
  color: yellow;
}

#auther {
  font-style: italic;
  font-size: 18px;
}
.sub-auther {
  font-weight: bold;
  font-size: 18px;
}
#copyRight {
  font-size: 16px;
}

aside {
  background-color: #f7f7f7;
  border-top: 3px solid #1098ad;
  border-bottom: 3px solid #1098ad;
  width: 80%;
  padding: 20px 0;
  margin-bottom: 20px;
}
aside .aside__title {
  text-align: center;
}
a {
  text-decoration: none;
  color: green;
}

a:hover {
  color: orangered;
  text-decoration: underline orangered;
}
/* when clicked */
a:active {
  color: #1098ad;
}
