* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} /* main color:#087f5b
   secondry color:#868e96
*/
body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #fff;
}
/* Main color:#099268
   secondary color: #fff */
/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
