{{>head}}
   
   <div class="main_content">
     {{>header}}
   
   <h3>Hy my name is mahmoud farag who develope this app with Andrew mead </h3>
   <img class='weather_img' src="./imgs/pic.jpg">
   </div>

{{>footer}}
