<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/app.js"></script>
    <title>About</title>
    <link rel="icon" href="img/weather.png" />
  </head>
</head>
<body>
  <h1>Weather</h1>
  <div class="main-content">
    {{>header}}
    <img src="/img/egypt.jpg" alt="egypt" />
  </div>
  {{>footer}}
</body>
</html>