<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
      <title>Help</title>
          <link rel="icon" href="img/weather.png" />
  </head>
<body>
  <h1>Weather</h1>
  <div class="main-content">
    {{>header}}
    <p>{{helpText}}</p>
  </div>
  {{>footer}}
</body>
</html>